In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('homeprices.csv')
data

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000
13  monroe township  3200  580000
14  monroe township  2800  540000
15     west windsor  3200  640000
16     west windsor  3800  730000
17      robinsville  2900  610000
18      robinsville  3300  640000
19      robinsville  3100  620000
20  monroe township  3800  710000
21     west windsor  4000  750000
22     west windsor  2900  620000

### since the above data has string data in data['town'] we need to convert it into 1's and 0's to make the machine understandable.

In [3]:
# Perform one-hot encoding on the 'town' column
one_hot_encoded = pd.get_dummies(data['town'])

In [4]:
# Concatenate the original data with the one-hot encoded data
encoded_data = pd.concat([data, one_hot_encoded], axis=1)

In [5]:
encoded_data

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0
13  monroe township  3200  580000                1            0             0
14  monroe township  2800  540000                1            0             0
15     west windsor  3200  640000                0            0             1
16     west windsor  3800  730000                0            0             1
17      robinsville  2900  610000                0            1             0
18      robinsville  3300  640000                0            1             0
19      robinsville  3100  620000                0            1             0
20  monroe township  3800  710000                1            0             0
21     west windsor  4000  750000                0            0             1
22     west windsor  2900  620000                0            0             1

### here we can see the towns names as columns